@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", serif;
    background-color: black;
}

.nav-menu{
    background: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

.nav-link a{
    color: black;
    text-decoration: none;
}

.nav-link a:hover{
    color: lightpink;
}

.logo img{
    width: 40px;
    margin-right: 10px;
}

.logo{
    flex: 1;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li{
    padding: 15px 10px;
    font-size: 16px;
}

h1{
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.messi-main-page-images{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.messi-main-page-img-1{
    display: flex;
    align-items: center;
}

.barcelona-logo{
    height: 100px;
    margin-right: 100px;
}

.messi-barcelona{
    height: 400px;
}

.psg-logo{
    height: 150px;
    margin-left: 200px;
}

.messi-psg{
    width: 400px;
    margin-right: 100px;
}

.miami-logo{
    height: 250px;
    padding-bottom: 150px;
}

.messi-miami{
    width: 400px;
}

.text-1{
    color: white;
    font-family: "Poppins", serif;
    font-size: 18px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.text-2{
    color: white;
    font-family: "Poppins", serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.text-3{
    color: white;
    font-family: "Poppins", serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

footer{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}