@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", serif;
    background-color: white;
}

.nav-menu{
    background: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    margin-left: 50px;
    margin-right: 50px;
}

.nav-link a{
    color: black;
    text-decoration: none;
}

.nav-link a:hover{
    color: lightpink;
}

.logo img{
    width: 40px;
    margin-right: 10px;
}

.logo{
    flex: 1;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li{
    padding: 15px 10px;
    font-size: 22px;
}

h1{
    color: black;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.messi-main-page-images{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.messi-main-page-img-1{
    display: flex;
    align-items: center;
}

.text-1{
    color: black;
    font-family: "Poppins", serif;
    font-size: 18px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.text-2{
    color: black;
    font-family: "Poppins", serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.text-3{
    color: black;
    font-family: "Poppins", serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

footer{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}
.gallery-images img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 10px;
    margin: 50px 5px 5px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

.popup img {
    height: 600px;
    width: 600px;
}

.popup p {
    margin-top: 10px;
    text-align: justify;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
}
.gallery-images:hover{
    opacity: 0.6;
    cursor: pointer;
}

.logos img{
    width: 50px !important;
    height: 50px !important;
    margin: 0;
}

.logo-img{
    height: 50px;
}