@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

h2{
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 54px;
    text-shadow: 2px 2px pink;
}

h3{
    color: black;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 24px;
}

.životopis-p-1{
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: left;
    margin-left: 50px;
}

.životopis-h3-right{
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

.životopis-p-2{
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

.životopis-p-1:hover{
    font-weight: bold;
}

.životopis-p-2:hover{
    font-weight: bold;
}

h3:hover{
    color: red;
}

.životopis-h3-right:hover{
    color: blue;
}

.životopis-p-2-down{
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: right;
    margin-right: 50px;
    margin-bottom: 100px;
}

.životopis-p-2-down:hover{
    font-weight: bold;
}